# dev
src/Makevars
src/*.o
src/*.so
src/_*
R/_*

.ccls
.ccls/*
.ccls-cache/*

# test data
data
pileup
testdata/*
_test*
_data*

**/.Rprofile

# R files
 _test*
_libs/*
.Rhistory
docs
.Rhistory
.Rprofile

# dev
.direnv/*
.envrc
