@font-face {
	font-family: 'Iosevka Term';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('font/IosevkaTerm-Regular.woff2') format('woff2');
}

span.co {
    white-space: pre-wrap;
}
